<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Aadhavan</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="styles.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<nav>
	<a class="navbar-brand" href="{{url_for('interests')}}">Interests</a>
    	<a class="navbar-brand" href="{{url_for('contact')}}">Contact</a>
		<a class="navbar-brand" href="{{url_for('Aboutme')}}">About me</a>
	</nav>
	<div id="nav-placeholder">
	</div>
	<script>
		//on load
		$(function(){
		  $("#nav-placeholder").load("nav.html");
		});
	</script>
		<style>
		
		</style>
  </head>
  <body>
  		<div class="row" >
  			<div class="col-4" style="background-color:#3E8ED8 ;border-color:black;">
				<h1 style="background-color:#0F80E7;"> Hobbies</h1>
				<p> Aadhavan was a 15-year-old boy with a love for adventure and technology. He spent most of his free time building and programming robots, which he would then enter into local competitions. He also had a passion for parkour, which he practiced regularly at a local gym with his friends. On weekends, he and his friends would go on camping trips, where they would test their survival skills and explore new hiking trails. Michael was always looking for new challenges, and his hobbies reflected his thirst for excitement and his love of science and the outdoors. </p>
			</div>
			<div class="col-4" style="background-color:#20b020  ;">
				<h1 style="background-color:#0d8d13 ;"> Talents</h1>
				<p style="color:#39FF14;"> Aadhavan was a 15-year-old boy with a gift for music. He had been playing the piano since he was a young child, and his natural talent had only grown over the years. He was now a skilled composer and performer, known for his beautiful melodies and intricate chord progressions. Ryan also had a talent for art, and he spent countless hours painting portraits and landscapes in his spare time. His works of art were often displayed in local galleries and had garnered recognition from the art community. Despite his youth, Ryan had already established himself as a talented artist and musician, and he was well on his way to a successful career in the arts. </p>
			</div>
			<div class="col-4" style="background-color:#B9b90a">
				<h1 style="background-color:#Adae21 "> Hopes </h1>
				<p style="color:#FBFF01;"> Aadhavan was a 15-year-old boy with big dreams. He hoped to one day become a professional athlete and play basketball for a major league team. He spent hours every day practicing his shooting and dribbling skills, and was already being scouted by several college coaches. In addition to his love for basketball, Tommy was also deeply passionate about social justice and aimed to use his platform as a successful athlete to effect change in his community. He hoped to inspire others to take action and make the world a better place for future generations. Despite the challenges he faced, Tommy remained focused on his goals and worked tirelessly to make his dreams a reality.
 </p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12" style="background-color:#A21F1F ;border-color:black;">
				<h1 style="background-color:#801C1C;"> Acheivements</h1>
				<p style="color:#FF0000;"> Aadhavan was a 15-year-old boy with a thirst for knowledge and a love of science. He was always eager to explore new ideas and push the boundaries of what was possible. This love of learning had earned him a reputation as one of the top students in his school, and he was constantly seeking new challenges to prove his abilities.

Aadhavan's hard work and dedication paid off when he won the regional science fair with his innovative project on renewable energy. His project involved creating a system that harnessed the power of the sun to generate electricity, and it caught the attention of many influential people in the scientific community. This win was only the beginning for Aadhavan, as he was soon offered scholarships from prestigious universities and invited to participate in international science symposiums.

Aadhavan's achievements did not stop there. He continued to use his knowledge and skills to make a positive impact in the world, and he was soon named one of Time magazine's "Most Influential Teens of the Year." He used his newfound fame to raise awareness about environmental issues and promote sustainable living practices. He also started his own non-profit organization, which aimed to provide access to clean energy to communities in need.

Despite all his success, Aadhavan remained humble and dedicated to his goals. He continued to push the boundaries of what was possible and inspired others to do the same. His achievements were a testament to his hard work and determination, and he was an inspiration to young people everywhere.



</p>
			</div>
		</div>

  </body>
</html>