<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<p>
{% if breed %}
The breed u entered is {{breed}}
Update it in the form below
{% else %}
please enter you breed:
{% endif %}
</p>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.breed.label }} {{ form.breed}}
    </br>
    {{ form.neutered.label }} {{ form.neutered}}
    </br>
    {{ form.food_choice.label }} {{ form.food_choice}}
    </br>
    {{ form.mood.label }} {{ form.mood}}
    </br>
    Any other feedback?
    </br>
    {{ form.feedback}}
    </br>
    {{ form.submit}}
</form>


</body>
</html>