<!doctype html>

<html>

<head>
<meta charset="utf-8"/>

		<title>Aadhavan</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="styles.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<nav>
	<a class="navbar-brand" href="{{url_for('interests')}}">Interests</a>
    	<a class="navbar-brand" href="{{url_for('contact')}}">Contact</a>
		<a class="navbar-brand" href="{{url_for('Aboutme')}}">About me</a>
	</nav>
		<div id="nav-placeholder">
	</div>
	<script>
		//on load
		$(function(){
		  $("#nav-placeholder").load("nav.html");
		});
	</script>

</head>

<body>
  		<div class="row" >
  			<div class="col-5" style="background-color:#3E8ED8 ;border-color:black;">
				<h1 style="background-color:#0F80E7;"> Sports</h1>
				<p> Aadhavan is a young boy with a passion for sports, specifically badminton and baseball. From a young age, he was always active and enjoyed playing any kind of sport. However, it was badminton that really captured his heart. He was fascinated by the speed and agility of the players and loved the sound the shuttlecock made as it crossed the net. He started practicing every day and soon became quite skilled. Aadhavan joined a local badminton club and started participating in tournaments. His dedication and hard work paid off as he became one of the top players in his age group.

In addition to badminton, Aadhavan also developed an interest in baseball. He loved the challenge of hitting a fast-moving ball and the teamwork involved in the sport. He joined a little league team and worked hard to improve his batting, fielding, and pitching. Aadhavan quickly became one of the best players on the team and led his team to victory in many games.

In his free time, Aadhavan enjoys watching baseball games and keeping up with the latest developments in both badminton and baseball. He dreams of one day becoming a professional player in either sport and is determined to work hard to achieve his goal. Aadhavan's love for badminton and baseball has brought him great joy and has taught him valuable lessons about perseverance, hard work, and the importance of teamwork.
</p>
			</div>
			<div class="col-2" style="background-color:black"> 
			
						<img src="baseball.jpg"width="250"/> 
						<img src="math.jfif"width="250"/> 
						<img src="badminton.jpg"width="250"/>
						<img src="science.jpg"width="250"/>

			</div>
			<div class="col-5" style="background-color:#20b020  ;">
				<h1 style="background-color:#0d8d13 ;"> Studies</h1>
				<p style="color:#39FF14;"> Aadhavan is a young boy with a vivid imagination and a love for video games and TV shows. From a young age, he was drawn to the excitement and adventure of these forms of entertainment. He spent hours playing his favorite video games, losing himself in the immersive worlds and captivating storylines. He also loved watching TV shows, getting lost in the drama and excitement of the characters and their journeys.

As Aadhavan grew older, his love for video games and TV shows only grew stronger. He became an expert in his favorite games, mastering the controls and strategies, and always eager to discover new and challenging games to play. He also kept up with the latest TV shows, eagerly awaiting each new episode and immersing himself in the stories and characters.

In his free time, Aadhavan enjoys playing video games, watching TV shows, and discussing them with his friends and family. He is always on the lookout for the latest and greatest games and shows to experience. Aadhavan's love for video games and TV shows has brought him countless hours of joy and excitement, and has allowed him to explore new worlds and experience new adventures from the comfort of his own home.
</p>
			</div>
		</div>
		<div class="row" >
			<div class="col-12" style="background-color:#B9b90a">
				<h1 style="background-color:#Adae21 "> Entertainments </h1>
				<p style="color:#FBFF01;"> Aadhavan was a 15-year-old boy with big dreams. He hoped to one day become a professional athlete and play basketball for a major league team. He spent hours every day practicing his shooting and dribbling skills, and was already being scouted by several college coaches. In addition to his love for basketball, Tommy was also deeply passionate about social justice and aimed to use his platform as a successful athlete to effect change in his community. He hoped to inspire others to take action and make the world a better place for future generations. Despite the challenges he faced, Tommy remained focused on his goals and worked tirelessly to make his dreams a reality.
 </p>
			</div>
		</div>
		
	


</body>

</html>